/* App Window */

:root {
    /* https://coolors.co/0b8944-85c4a2-e1f1e8-ffffff */
    --color-1: #0B8944;
    --color-2: #85C4A2;
    --color-3: #E1F1E8;
    --color-4: #F0F8F4;
    --color-5: #F8FCFA;
    --color-6: #FFFFFF;

    /* https://coolors.co/323232-666666-b3b3b3-ffffff */
    --text-color-1: #323232;
    --text-color-2: #666666;
    --text-color-3: #B3B3B3;
    --text-color-4: #FFFFFF;

    --color-gray-1: #e3e3e3; /* #cacaca; */
    --color-gray-2: #f5f5f5; /* #f1f1f1 */

    --padding-small: 4px;
    --padding-large: 10px;
    --border-radius: 5px;

    --font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-size-medium: 16px;
    --font-size-small: 14px;
    --font-size-smaller: 12px;

    --sidebar-width: 160px;
    --footer-height: 100px;
}

/*
-------------------------------------------------------------------------------
Default Classes
-------------------------------------------------------------------------------
*/

body {
    background-color:#fff;
    color: var(--text-color-primary);      
}

body, a, th, td, span {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    line-height:1.5;
}

a:link {
  color: var(--color-1);
}

a:visited {
  color: var(--color-1);
}

/*
-------------------------------------------------------------------------------
Components
-------------------------------------------------------------------------------
*/

.btn, button.modesel {
    background-color: var(--color-gray-2);
    color: var(--text-color-1);
    border-color: var(--color-gray-1);
}

.btn:hover, button.modesel:hover {
    background-color: var(--color-2);
    color: var(--text-color-4);
    border-color: var(--color-gray-2);
}

button.modesel_hi {
    background-color: var(--color-1);
    color: var(--text-color-4);
    border-color: var(--color-1);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:after {
  content: "foo bar";
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  display: none;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 2px;
}
.tooltip:hover:after {
  display: block;
}

/*
-------------------------------------------------------------------------------
App Window
-------------------------------------------------------------------------------
*/

.app {
    display: flex;
    gap: 0px;
    max-width: 100vw;
    max-height: 100vh;
}


/*
-------------------------------------------------------------------------------
Sidebar (Left Panel)
------------------------------------f-------------------------------------------
*/

.sidebar {
    /* Fixed width to ensure consistent rendering */
    width: var(--sidebar-width);
    background-color: #00A040;
    padding: var(--padding-large);
    height: 100vh;
}

.sidebar a {
    text-decoration: none;
    width: inherit;
}

.sidebar-divider {
    margin: 10px;
}

/*
-------------------------------------------------------------------------------
Sidebar Logo
-------------------------------------------------------------------------------
*/

.sidebar-logo {
    width: calc(160px - 1px);
    padding: 10px;
    margin:-10px;
    background-color: var(--color-gray-2);
}

/* .sidebar-logo {
    style="max-width:140px; padding:var(--padding-small); display: block; margin: auto"
} */

/*
-------------------------------------------------------------------------------
Sidebar Extended
-------------------------------------------------------------------------------
*/

.sidebar-extended {
    background-color:var(--color-gray-2);
    /* border: 1px solid var(--text-color-3); */
    width: 160px;
    margin-left: 0px;
    display: block;
    overflow-y: auto;
    border-radius: var(--border-radius);
    max-height: 100vh;

}

.sidebar-extended a { 
  text-decoration: none;
}

.sidebar-extended-title {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-medium);
}

/*
-------------------------------------------------------------------------------
Sidebar Item 
-------------------------------------------------------------------------------
*/

.sidebar-item, .sidebar-item-button, .sidebar-extended-item {
    display: flex;
    margin-left:15px;
    border-radius: var(--border-radius);
    padding: var(--padding-small);
    color: var(--text-color-4);
    font-size: 16px;
    background-color: inherit;
    border: 0px;
    font-size: var(--font-size-medium);
}

.sidebar-item:hover, .footer .footer-arrow:hover {
  background-color: var(--color-3);
  color: var(--text-color-1);
  font-weight: 600;
}

.sidebar-item-icon {
    text-align: center;
    filter: brightness(0) invert(1);
}

.sidebar button:focus .sidebar-item-icon {
    filter: invert(12%) sepia(0%) saturate(167%) hue-rotate(206deg) brightness(92%) contrast(77%);
}

.sidebar-item-text {
    padding-left: 10px;
}

.sidebar-item:hover .sidebar-item-icon {
    filter: invert(12%) sepia(0%) saturate(167%) hue-rotate(206deg) brightness(92%) contrast(77%);
}

/*
-------------------------------------------------------------------------------
Sidebar Item Button

Used when the menu item should be a button instead of a link.
-------------------------------------------------------------------------------
*/

.sidebar-item-button {
    width:123px;
}

.sidebar button:hover, button:focus {
  background-color: var(--color-3);
  color: var(--text-color-1);
  font-weight: 600;
}


/*
-------------------------------------------------------------------------------
Sidebar Extended Item 
-------------------------------------------------------------------------------
*/

.sidebar-extended-item {
    margin-left:var(--padding-small);
    color: var(--text-color-1);
    font-size:var(--font-size-small);
}

.sidebar-extended-item:hover {
  background-color: var(--text-color-3);
  color: var(--text-color-4);
  font-weight: 600;
}

/*
-------------------------------------------------------------------------------
Sidebar Profile
-------------------------------------------------------------------------------
*/

.sidebar-profile-icon {
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    padding-bottom: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: var(--color-1);
    font-weight: 600;
}

.sidebar-item:hover .sidebar-profile-icon {
    background-color: var(--text-color-3);
    color: var(--text-color-4);
}


/*
-------------------------------------------------------------------------------
Main Panel
-------------------------------------------------------------------------------
*/

.main-panel {
    width: 100%;
    max-height: calc(100vh - var(--footer-height));
    overflow: auto;
}

.main-panel-title {
    width: 100%;
    color:black;
}

.main-panel-title-text {
    color:black;
    padding: var(--padding-large);
}

.main-panel-section {
    background-color: rgb(57, 141, 29);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


/*
-------------------------------------------------------------------------------
Footer
-------------------------------------------------------------------------------
*/

.footer {
    max-height: var(--footer-height);
    padding: 4px;
    width: calc(100vw - var(--sidebar-width));
    text-align: center;
    border:  var(--color-gray-1);
    bottom: 0;
    position: absolute;
    background-color: var(--color-gray-2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    display: block;
    overflow: auto;
}

.footer span, a {
    font-size: var(--font-size-small);
}


.footer-arrow {
    float: right;
    border:1px solid;
    border-radius: var(--border-radius);
}

.footer-arrow:active {
    filter: brightness(0) invert(1);
}

.filter-light {
    filter: brightness(0) invert(1);
}

.filter-dark {
    filter: invert(12%) sepia(0%) saturate(167%) hue-rotate(206deg) brightness(92%) contrast(77%);
}

/*
-------------------------------------------------------------------------------
Testing
-------------------------------------------------------------------------------
*/

.test1 {
    color: red;
}

.test2 {
    background-color: blue;
}


.test3 {
  @extend .test1;
  @extend .test2;
}
