/* App Window */

:root {
    /* https://coolors.co/0b8944-85c4a2-e1f1e8-ffffff */
    --color-1: #0B8944;
    --color-2: #85C4A2;
    --color-3: #E1F1E8;
    --color-4: #F0F8F4;
    --color-5: #F8FCFA;
    --color-6: #FFFFFF;

    /* https://coolors.co/323232-666666-b3b3b3-ffffff */
    --text-color-1: #323232;
    --text-color-2: #666666;
    --text-color-3: #B3B3B3;
    --text-color-4: #FFFFFF;

    --color-gray-1: #cacaca;
    --color-gray-2: #f1f1f1;

    --padding-small: 4px;
    --padding-large: 10px;
    --border-radius: 5px;

    --font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-size-medium: 16px;
    --font-size-small: 14px;
}

/*
-------------------------------------------------------------------------------
Default Classes
-------------------------------------------------------------------------------
*/

body {
    background-color:#fff;
    color: var(--text-color-primary);      
}

body, a, th, td {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    line-height:1.5;
}

a:link {
  color: var(--color-1);
}

a:visited {
  color: var(--color-1);
}

/*
-------------------------------------------------------------------------------
Components
-------------------------------------------------------------------------------
*/

.btn, button.modesel {
    background-color: var(--color-gray-2);
    color: var(--text-color-1);
    border-color: var(--color-gray-1);
}

.btn:hover, button.modesel:hover {
    background-color: var(--color-2);
    color: var(--text-color-4);
    border-color: var(--color-gray-2);
}

button.modesel_hi {
    background-color: var(--color-1);
    color: var(--text-color-4);
    border-color: var(--color-1);

}

/*
-------------------------------------------------------------------------------
App Window
-------------------------------------------------------------------------------
*/

.app {
    display: flex;
    gap: 0px;
    margin-top: -8px;
}


/*
-------------------------------------------------------------------------------
Sidebar (Left Panel)
-------------------------------------------------------------------------------
*/

.sidebar {
    /* Fixed width to ensure consistent rendering */
    width: 160px;
    background-color: #00A040;
    padding: 10px;
    border: 1px solid var(--text-color-2);
}

.sidebar a {
    text-decoration: none;
}

.sidebar-divider {
    margin: 10px;
}

/*
-------------------------------------------------------------------------------
Sidebar Extended
-------------------------------------------------------------------------------
*/

.sidebar-extended {
    background-color:var(--color-gray-2);
    border: 1px solid var(--text-color-3);
    width: 160px;
    margin-left: 0px;
    display: block;
}

.sidebar-extended a { 
  text-decoration: none;
}

.sidebar-extended-title {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-medium);
}

/*
-------------------------------------------------------------------------------
Sidebar Item 
-------------------------------------------------------------------------------
*/

.sidebar-item, .sidebar-extended-item {
    display: flex;
    margin-left:15px;
    border-radius: var(--border-radius);
    padding: var(--padding-small);
    color: var(--text-color-4);
    font-size: 16px;
    background-color: inherit;
    border: 0px;
    font-size: var(--font-size-medium);
}

.sidebar-item:hover {
  background-color: var(--color-3);
  color: var(--text-color-1);
  font-weight: 600;
}

.sidebar-item-icon {
    text-align: center;
    color: var(--text-color-4);
}

.sidebar-item-text {
    padding-left: 10px;
}

/*
-------------------------------------------------------------------------------
Sidebar Item Button

Used when the menu item should be a button instead of a link.
-------------------------------------------------------------------------------
*/

.sidebar-item-button {
    width:123px;
}

.sidebar button:hover, button:focus {
  background-color: var(--color-3);
  color: var(--text-color-1);
  font-weight: 600;
}


/*
-------------------------------------------------------------------------------
Sidebar Extended Item 
-------------------------------------------------------------------------------
*/

.sidebar-extended-item {
    margin-left:var(--padding-small);
    color: var(--text-color-1);
    font-size:var(--font-size-small);
}

.sidebar-extended-item:hover {
  background-color: var(--text-color-3);
  color: var(--text-color-4);
  font-weight: 600;
}

/*
-------------------------------------------------------------------------------
Sidebar Profile
-------------------------------------------------------------------------------
*/

.sidebar-profile-icon {
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    padding-bottom: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: var(--color-1);
    font-weight: 600;
}

.sidebar-item:hover .sidebar-profile-icon {
    background-color: var(--text-color-3);
    color: var(--text-color-4);
}


/*
-------------------------------------------------------------------------------
Main Panel
-------------------------------------------------------------------------------
*/

.main-panel {
    width: 100%;
}

.main-panel-title {
    width: 100%;
    color:black;
}

.main-panel-title-text {
    color:black;
    padding: var(--padding-large);
}

.main-panel-section {
    background-color: rgb(57, 141, 29);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

