/* App Window */

:root {
    /* https://coolors.co/0b8944-85c4a2-e1f1e8-ffffff */
    --color-1: #0B8944;
    --color-2: #85C4A2;
    --color-3: #E1F1E8;
    --color-4: #F0F8F4;
    --color-5: #F8FCFA;
    --color-6: #FFFFFF;

    /* https://coolors.co/323232-666666-b3b3b3-ffffff */
    --text-color-1: #323232;
    --text-color-2: #666666;
    --text-color-3: #B3B3B3;
    --text-color-4: #FFFFFF;

    --color-gray-1: #e3e3e3; /* #cacaca; */
    --color-gray-2: #f5f5f5; /* #f1f1f1 */

    --padding-small: 4px;
    --padding-large: 10px;
    --border-radius: 5px;

    --font-family: "Source Sans 3", "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-size-medium: 18px;
    --font-size-small: 16px;
    --font-size-smaller: 14px;
    --font-bold: 500;

    --sidebar-width: 160px;
    --sidebar-collapsed-width: 40px;
    --sidebar-logo-height: 116px; /* Specific to the logo used */

    --footer-height: 100px;
    --footer-arrow-height: 30px;
    /* --box-shadow-sidebar: inset 5px 5px 10px rgba(0,0,0,.15), inset -5px 5px 10px rgba(0,0,0,.15), inset 5px -5px 10px rgba(0,0,0,.15);  */
    --box-shadow-sidebar-outer: 5px 5px 10px rgba(0,0,0,.35);
    --box-shadow-sidebar-inner: inset -5px 5px 10px rgba(0, 0, 0, 0.15), inset 5px 5px 10px rgba(0, 0, 0, 0.15);
    --box-shadow-footer: 0px -5px 10px rgba(0, 0, 0, 0.15), inset 0px 5px 10px rgba(0, 0, 0, 0.05);
    /* --box-shadow-main-panel: inset 5px 5px 10px rgba(0,0,0,.15), inset -5px 5px 10px rgba(0,0,0,.15), inset 5px -5px 10px rgba(0,0,0,.15);  */
    /* --box-shadow-button: 1px 1px 2px rgba(0, 0, 0, 0.25); */
}

/*
-------------------------------------------------------------------------------
Default Classes
-------------------------------------------------------------------------------
*/

body {
    background-color:#fff;
    color: var(--text-color-primary); 
}

body, a, th, td, span {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    line-height:1.5;
    font-weight: 400;    
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family);
    font-weight: var(--font-bold);
}

h1 {
    font-weight: 600;
}

a, a:link, a:visited {
  color: var(--color-1);
}

/*
-------------------------------------------------------------------------------
Components
-------------------------------------------------------------------------------
*/

.btn, button.modesel {
    background-color: var(--color-gray-2);
    color: var(--text-color-1);
    border-color: var(--color-gray-1);
    box-shadow: var(--box-shadow-button);
}

.btn-xs, .btn-sm {
    font-size: var(--font-size-smaller);
}

.btn:hover, button.modesel:hover {
    background-color: var(--color-2);
    color: var(--text-color-4);
    border-color: var(--color-gray-2);
}

button.modesel_hi {
    background-color: var(--color-1);
    color: var(--text-color-4);
    border-color: var(--color-1);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:after {
  content: "foo bar";
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  display: none;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 2px;
}
.tooltip:hover:after {
  display: block;
}

.page-title-underline {
    margin-top: 25px;
    height:1px;
    border:none;
    color:var(--text-color-2);
    background-color: var(--text-color-2);
}

.caption {
    font-size: var(--font-size-small);
}

/*
-------------------------------------------------------------------------------
App Window
-------------------------------------------------------------------------------
*/

.app {
    display: flex;
    gap: 0px;
    max-width: 100vw;
    max-height: 100vh;
}


/*
-------------------------------------------------------------------------------
Sidebar (Left Panel)
-------------------------------------------------------------------------------
*/

.sidebar {
    /* Fixed width to ensure consistent rendering */
    width: var(--sidebar-width);
    background-color: #00A040;
    padding: var(--padding-large);
    height: 100vh;
    box-shadow: var(--box-shadow-sidebar-outer), var(--box-shadow-sidebar-inner);
    z-index: 1;
}

.sidebar a {
    text-decoration: none;
    width: inherit;
}

.sidebar-divider {
    margin: 10px;
}

/*
-------------------------------------------------------------------------------
Sidebar Logo
-------------------------------------------------------------------------------
*/

.sidebar-logo-img, .sidebar-logo-collapsed {
    width: var(--sidebar-width);
    height: var(--sidebar-logo-height);
    padding: 10px;
    margin-top: -10px;    
    margin-left:-10px;
    background-color: var(--color-gray-2);
    box-shadow:  var(--box-shadow-sidebar-inner);
}

.sidebar-logo-collapsed {
    display: none;
    width: var(--sidebar-collapsed-width);
    height: 60px;
    margin-left: -10px;
}

/*
-------------------------------------------------------------------------------
Sidebar Extended
-------------------------------------------------------------------------------
*/

.sidebar-extended {
    background-color:var(--color-gray-2);
    width: 160px;
    margin-left: 0px;
    display: block;
    overflow-y: auto;
    border-radius: var(--border-radius);
    max-height: 100vh;

}

.sidebar-extended a { 
  text-decoration: none;
}

.sidebar-extended-title {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-medium);
}

/*
-------------------------------------------------------------------------------
Sidebar Item 
-------------------------------------------------------------------------------
*/

.sidebar-item, .sidebar-item-button, .sidebar-extended-item {
    display: flex;
    margin-left:15px;
    border-radius: var(--border-radius);
    padding: var(--padding-small);
    color: var(--text-color-4);
    font-size: 16px;
    background-color: transparent;
    border: 0px;
    font-size: var(--font-size-medium);
}

.sidebar-item:hover, .footer .footer-arrow-img:hover {
  background-color: var(--color-3);
  color: var(--text-color-1);
  font-weight: 600;
}

.sidebar-item-icon {
    text-align: center;
    filter: brightness(0) invert(1);
}

.sidebar button:focus .sidebar-item-icon {
    filter: invert(12%) sepia(0%) saturate(167%) hue-rotate(206deg) brightness(92%) contrast(77%);
}

.sidebar-item-text {
    padding-left: 10px;
}

.sidebar-item:hover .sidebar-item-icon {
    filter: invert(12%) sepia(0%) saturate(167%) hue-rotate(206deg) brightness(92%) contrast(77%);
}

/*
-------------------------------------------------------------------------------
Sidebar Item Button

Used when the menu item should be a button instead of a link.
-------------------------------------------------------------------------------
*/

/* .sidebar-item-button {
    width:123px;
} */

.sidebar-item-button {
    width:90%;
}

.sidebar button:hover, button:focus {
  background-color: var(--color-3);
  color: var(--text-color-1);
  font-weight: 600;
}


/*
-------------------------------------------------------------------------------
Sidebar Extended Item 
-------------------------------------------------------------------------------
*/

.sidebar-extended-item {
    margin-left:var(--padding-small);
    color: var(--text-color-1);
    font-size:var(--font-size-small);
}

.sidebar-extended-item:hover {
  background-color: var(--text-color-3);
  color: var(--text-color-4);
  font-weight: 600;
}

/*
-------------------------------------------------------------------------------
Sidebar Profile
-------------------------------------------------------------------------------
*/

.sidebar-profile-icon {
    background-color: var(--color-4);
    border-radius: var(--border-radius);
    padding-bottom: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: var(--color-1);
    font-weight: 600;
}

.sidebar-item:hover .sidebar-profile-icon {
    background-color: var(--text-color-3);
    color: var(--text-color-4);
}


/*
-------------------------------------------------------------------------------
Main Panel
-------------------------------------------------------------------------------
*/

.main-panel {
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--footer-height));
    padding: calc(var(--padding-large) * 2);
}

.main-panel-title {
    width: 100%;
    color:var(--text-color-1);
}

.main-panel-section {
    background-color: rgb(57, 141, 29);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.main-panel-container {
    height: 100%;
    overflow: auto;
}



/*
-------------------------------------------------------------------------------
Footer
-------------------------------------------------------------------------------
*/

.footer {
    margin-left: var(--sidebar-width);
    height: var(--footer-height);
    padding: var(--padding-small);
    width: calc(100vw - var(--sidebar-width));
    text-align: center;
    border:  var(--color-gray-1);
    bottom: 0;
    position: absolute;
    background-color: var(--color-gray-2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    display: block;
    overflow: auto;
    box-shadow: var(--box-shadow-footer);
}

.footer span, .footer a {
    font-size: var(--font-size-small);
}

.footer-arrow-button {
    position: relative;
    z-index: 1;
    border: none;
    padding: 0px;
    float: right;
    background-color: transparent;
}

.footer-arrow-img {
    border:1px solid;
    border-radius: var(--border-radius);
    height: var(--footer-arrow-height);    
}

.footer-arrow-img:active {
    filter: brightness(0) invert(1);
}

.footer-logo {
    display:block;
    z-index: 0;
}

.filter-light {
    filter: brightness(0) invert(1);
}

.filter-dark {
    filter: invert(12%) sepia(0%) saturate(167%) hue-rotate(206deg) brightness(92%) contrast(77%);
}

/*
-------------------------------------------------------------------------------
Help
-------------------------------------------------------------------------------
*/

.manual {
    width: 100%;
    height: calc(100% - var(--padding-large));
    border: 0px;
}

/*
-------------------------------------------------------------------------------
Tables
-------------------------------------------------------------------------------
*/

td.infosectionsubtitle,
td.sub_infosectionsubtitle,
.infosectionsubtitle_empty,
.sub_infosectionsubtitle_empty
 {
  width: 50%;
  white-space: normal;
}

td, td a {
    font-size: var(--font-size-small);
}

th {
    font-size: var(--font-size-small);
}

/*
-------------------------------------------------------------------------------
Other
-------------------------------------------------------------------------------
*/

.login-text {
    font-size: var(--font-size-small);
}

/*
-------------------------------------------------------------------------------
Dynamic Media
-------------------------------------------------------------------------------
*/

@media only screen and (max-width: 1080px) {
    .sidebar {
        width: var(--sidebar-collapsed-width);
    }
    .sidebar-logo-img {
        display: none;
    }
    .sidebar-logo-collapsed {
        display: block;
    }
    .sidebar-item-text {
        display: none;
    }
    .sidebar-item {
        margin-left: -6px;
        width: 30px;
    }
    .sidebar-profile-icon {
        padding: 0px;
        margin-left: 0px;
    }
    .sidebar-divider {
        margin-left: calc(-1 * var(--padding-small));
        width: 26px;
    }
    .main-panel {
        width: calc(100vw - var(--sidebar-collapsed-width));
    }
    .footer {
        margin-left: 0px;
        width: calc(100vw - var(--sidebar-collapsed-width));
    }
}


/*
-------------------------------------------------------------------------------
Testing
-------------------------------------------------------------------------------
*/

.test1 {
    color: red;
}

.test2 {
    background-color: blue;
}

.test3 {
  @extend .test1;
  @extend .test2;
}
