.login-pf body {
    background: white;
    background-size: cover;
    height: 100%;
}

.login-pf-page {
    background-color: white !important;
}

.login-pf-page-header {
    background: url('../img/Breedbase_HighRes.png') no-repeat center top fixed;
    height: 200px;
    background-attachment: inherit;
    background-size: contain;
}

.login-pf-page .card-pf {
    padding: 20px 40px 30px 40px;
    margin: auto;
    max-width: 570px;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 16px;
}

.pf-c-form-control {
    border: 1px solid black
}

#kc-login {
    width: 50%;
    margin: auto;
    background-color: #00a040;
    font-size: 16px;
    border: 1px solid #19510d;
    border-radius: 4px;
}

#kc-login:hover {
    background-color: #006000 !important;
    font-weight: bold;
}

#kc-header-wrapper {
    display: none
}

ul.kc-social-links li {
    width: 100%;
    margin: 5px;
}

.kc-social-item {
    width: 50% !important;
    margin: auto;
    background-color: #00a040 !important;
    color: white !important;
    line-height: 1.333333333;
}

.kc-social-item:hover {
    background-color: #006000 !important;
    font-weight: bold;
}
